[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymisp = "*"
requests = "*"
httpx = "*"
elasticsearch = "==6.8.2"
elasticsearch-async = "*"
aiohttp = "==3.6.3"
async-timeout = "==3.0.1"

